{
  "extends": [
    "stylelint-config-twbs-bootstrap/scss"
  ],
  "rules": {
    "selector-class-pattern": null,
    "order/properties-order": null,
    "selector-max-id": 1,
    "selector-max-type": null,
    "selector-no-qualifying-type": null
  }
}

