<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ReactJs BoilerPlate</title>
    <script src="https://unpkg.com/lodash@4.16.6"></script>
  </head>

  <body>
    <script>
      console.log('Test Formatter Okay')
    </script>
    <h1>ReactJs BoilerPlate</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, suscipit.
      Corrupti, autem. Impedit ut non, omnis recusandae temporibus veniam!
      Itaque repellendus ipsam veritatis deserunt cumque fugit voluptas.
      Quisquam, consequatur asperiores!
    </p>
  </body>
</html>
